.body-auth {
	width: 100vw;
	height: 100vh;
	background-color: $main;
	padding-top: 120px;
}
.auth {
	width: 1000px;
	height: 500px;
	background-color: #f9f9f9;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	border-radius: 2%;
}
.login {
	padding: 60px 70px;
}
.register {
	padding: 50px 70px;
}
.input-long {
	width: 345px;
}
