.body-auth {
	width: 100vw;
	height: 100vh;
	background-color: $main;
	display: flex;
	align-items: center;
}
.auth {
	width: 300px;
	height: 500px;
	background-color: #f9f9f9;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	border-radius: 2%;
}
.input-long {
	width: 250px;
}
.auth__buttons {
	display: flex;
	flex-direction: column;
}

.auth_login {
	text-decoration: underline;
}
.arrow-direction {
	padding-bottom: 15px;
	font-size: 40px;
}
@media (min-width: 480px) {
	.auth {
		width: 500px;
	}
	.input-long {
		width: 400px;
	}
}
