.board-home {
	height: 100vh;
}
.add-note {
	position: fixed;
	bottom: 5px;
	right: 15px;
	background-color: transparent;

	color: white;
	border: none;
	font-size: 30px;
}
.add-none-awesome {
	font-size: 50px;
}
.content-board {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
	background-color: $main;
	padding-top: 70px;
}
.box {
	width: 300px;
	height: 300px;
	background-color: $main;
	margin: 10px;
	border-radius: 3%;
	border: 3px solid white;
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
}
.open-box {
	width: 100%;
	height: 100%;
}
.actions {
	border-bottom: 2.7px solid white;
}
.action-items {
	margin-right: 3px;
}
.cancel {
	font-size: 17px;
}
