@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
.footer {
	background-color: #423f3e;
	width: 100vw;
}
.footer .text-footer {
	font-weight: 900;
	letter-spacing: 2px;
	font-family: 'Otomanopee One', sans-serif;
}
.footer .text-app {
	color: #808080;
	font-family: 'Otomanopee One', sans-serif;
}
.facebook {
	font-size: 30px;
	color: #3b5998;
}
.twitter {
	color: #00acee;
	font-size: 30px;
}
.youtube {
	color: #c4302b;
	font-size: 30px;
}
